body{
    font-family:lato;
    font-size: 15px;
    display: flex;
    color: #20e31a;
    background-color: black;
}
img{
    width: 50px;
    height: 50px;
}
#panel_l{
    display: box;
    width: 300px;
    height: 500px;
    border: 2px #068606 inset;
}
#box{
    display: grid;
    grid-template-columns: 
    grid-template-rows: 
    width: 500px;
    height: 500px;
    margin:0px;
    border: 2px #068606 inset;
}

tr{
    background-color: #404040;
    font-size: 15px;
    font-family: monospace;
}
.tile{
    background-color: black;
    display:grid;
}

#player{
    background-image: url("Skake3r.png");
    background-size: 50px 50px;
    transform: scale(1);

}
#player_l{
    background-image: url("Skake3l.png");
    background-size: 50px 50px;
    transform: scale(1);
    animation: move_left 350ms 1 alternate;
}
#player_r{
    background-image: url("Skake3r.png");
    background-size: 50px 50px;
    transform: scale(1);
    animation: move_right 350ms 1 alternate;
}
#player_u{
    background-image: url("Skake3.png");
    background-size: 50px 50px;
    transform: scale(1);
    animation: move_up 350ms 1 alternate;
}
#player_d{
    background-image: url("Skake3d.png");
    background-size: 50px 50px;
    transform: scale(1);
    animation: move_down 350ms 1 alternate;
}
.player_1{
    background-image: url("SnakeT.png");
    background-size: 50px 50px;
    background-color: #404040;
    transform: scale(0.54,1);
    transition: transform 1ms;
    transition-timing-function: linear;

}
.player_2{
    background-image: url("SnakeT2.png");
    background-size: 50px 50px;
    background-color: #404040;
    transform: scale(1,0.54);
    transition: transform 1ms;
    transition-timing-function: linear;
}
.player_3_dr{
    background-image: url("ljkhl3_dr.png");
}
.player_3_dl{
    background-image: url("ljkhl3_dl.png");
}
.player_3_ur{
    background-image: url("ljkhl3_ur.png");
}
.player_3_ul{
    background-image: url("ljkhl3_ul.png");
}
div[class*="player_3"]{
    background-size: 50px 50px;
    transform: scale(1);
    transition: transform 1ms;
    transition-timing-function: linear;
}
div[class*="player"]{
    border-radius: 10px;
    z-index: -2;
}
div[id*="player"]{
    border-radius: 50px;
    z-index: -1;
}
@keyframes move_right
{
	from {transform: translate(-60px);}
	to {transform: translate(0px);}
}
@keyframes move_left
{
	from {transform: translate(60px);}

	to {transform: translate(0px);}
}
@keyframes move_up
{
	from {transform: translate(0px,60px);}
	to {transform: translate(0px,0px);}
}
@keyframes move_down
{
	from {transform: translate(0px,-60px);}
	to {transform: translate(0px,0px);}
}
@keyframes glow
{
	from {background-color: #003300;
	        border: 3px #003300 inset}
	to {background-color: #008000;
	        border: 3px #009900 inset}
}
.apple{
    background-color: #00cc00;
    border-radius: 20px;
    border: 3px #009900 inset;
    transition: all 1s;

    animation-name: glow;
	animation-duration: 1500ms;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
#WIN{
    display: flex;
}
#LOSE{
    display: flex;
}
.buttons
{
	padding: 15px 5px 15px 5px;
	margin: 15px 10px 20px 10px;
	background-color: #444444;
	color: #20e31a;
	border: none;
	border-radius: 5px;
	box-shadow: 0px 5px #11960c;
}
.buttons:active
{
	box-shadow: 0px 2px #0a4408;
	transform: translateY(3px);
}